{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1 class="text-center pt-5">Projects</h1>
<br>
<div class="d-flex justify-content-between">
  <a href="/views/initiate" class="mr-3">
      <button type="button" class="btn btn-primary font-weight-bold">Initiate Project</button>
  </a>
  <form method="POST" class="flex-grow-1">
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter filters" name="filters">
    <button class="btn btn-outline-secondary ml-3" type="submit">Search</button>
  </div>
  </form>
</div>
<br>
{% if projects_supervisors %}
  {% for project, supervisor in projects_supervisors.items() %}
  <div class="row mt-4">
    <div class="col-md-12 col-lg-12 mb-4">
      <a href="/views/projects/{{ project.id }}" class="text-decoration-none">
        <div class="card h-100 shadow-sm border-primary clickable-box" style="opacity: {{ '0.4' if not project.status else 1 }}">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="font-weight-bold" style="color: purple">Priority {{ project.priority }}</span>
              <span class="font-weight-bold text-center" style="color: black"><strong>{{ "Open" if project.status else "Closed" }}</strong> | Due {{ project.deadline }}</span>
              <span class="font-weight-bold" style="color: green">{{ project.progress }}%</span>
            </div>
            <hr class="border-dark">
            <h5 class="card-title text-primary font-weight-bold">{{ project.title }}</h5>
            <p class="card-text text-dark">
              {{ project.description }}
            </p>
            <hr class="border-dark">
            <div class="d-flex justify-content-between">
              <span class="font-weight-bold" style="color: purple">Initiated by {{ supervisor.email }} ({{ supervisor.first_name }})</span>
              <span class="font-weight-bold text-right" style="color: purple"> {{ project.current_collaborators|length }} collaborator(s)</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
{% else %}
<div class="d-flex justify-content-center align-items-center vh-75" style="height: 90px">
    <h5 class="text-center" style="opacity: 0.4">There is nothing here. Are your search filters in order?</h5>
</div>
{% endif %}
{% endblock %}