{% extends "base.html" %}

{% block title %}Blueprint{% endblock %}

{% block content %}
<h1 class="text-center pt-5">Project Blueprint</h1>
<form method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter project title"
            value="{% block default_title %}{% endblock %}">
    </div>
    <div class="form-group">
        {% block default_priority %}
            <label for="priority">Priority</label>
            <select class="form-control" id="priority" name="priority">
              <option selected disabled>Set project priority</option>
              <option value="1">1 (HIGHEST)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5 (LOWEST)</option>
            </select>
        {% endblock %}
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            placeholder="Enter project description"
            value="{% block default_description %}{% endblock %}">
    </div>
    <div class="form-group">
        <label for="deadline">Deadline</label>
        <input
            type="datetime-local"
            class="form-control"
            id="deadline"
            name="deadline"
            placeholder="Set project deadline"
            value="{% block default_deadline %}{% endblock %}">
    </div>
    <div class="form-group">
        <label for="collaborators">Collaborators</label>
        <input
            type="text"
            class="form-control"
            id="collaborators"
            name="collaborators"
            placeholder="Enter the emails of registered persons who shall be working on the project (separated by commas)"
            value="{% block default_collaborators %}{% endblock %}">
    </div>
    <div class="form-group">
        {% block default_status %}
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status">
              <option selected disabled>Set project status</option>
              <option value="1">OPEN</option>
              <option value="0">CLOSED</option>
            </select>
        {% endblock %}
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">{% block commit_button %} Initiate Project {% endblock %}</button>
        {% block discard_button %} <a href="/views/projects" class="btn btn-outline-primary ml-2">Back to Projects</a> {% endblock %}
    </div>
</form>
{% endblock %}