{% extends "base.html" %}

{% block title %}Blueprint{% endblock %}

{% block content %}
<h1 class="text-center pt-5">Task Blueprint</h1>
<form method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter task title"
            value="{% block default_title %}{% endblock %}">
    </div>
    <div class="form-group">
        <label for="priority">Priority</label>
        <input
            type="number"
            class="form-control"
            id="priority"
            name="priority"
            min = "1"
            max = "5"
            placeholder="Enter priority ranking, 1 being the highest, 5 the lowest"
            value="{% block default_priority %}{% endblock %}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            placeholder="Enter task description"
            value="{% block default_description %}{% endblock %}">
    </div>
    <div class="form-group">
        <label for="deadline">Deadline</label>
        <input
            type="datetime-local"
            class="form-control"
            id="deadline"
            name="deadline"
            placeholder="Set task deadline"
            value="{% block default_deadline %}{% endblock %}">
    </div>
    <div class="form-group">
        <label for="assignees">Assignees</label>
        <input
            type="text"
            class="form-control"
            id="assignees"
            name="assignees"
            placeholder="Enter the emails of registered persons who shall be working on the task (separated by commas)"
            value="{% block default_assignees %}{% endblock %}">
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input
            type="number"
            class="form-control"
            id="status"
            name="status"
            min="0"
            max="1"
            placeholder="Set the status of the task, 0 being 'unfinished' and 1 being 'finished'"
            value="{% block default_status %}{% endblock %}">
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">{% block commit_button %} Assign Task {% endblock %}</button>
        {% block discard_button %} <a href="/views/projects/{{ parent_project_id }}" class="btn btn-outline-primary ml-2">Back to Project Info</a> {% endblock %}
    </div>
</form>
{% endblock %}